*.[oa]
*~
*.?DS
.
..

.DS_Store

# Logs
logs
*.log


# Compiled binary addons (http://nodejs.org/api/addons.html)
build/*

# Dependency directory

#latex Compiled
.aux
.bbl
.bcf
.blg
.dvi
.fdb_latexmk
.fls
.log.out
.run.xml
.synctex.gz
.tex.blg
.toc


